<div>
	<b-container>
		<b-row>
			<b-col>
				<h3>{{ $t("home.description") }}</h3>
				<div>
					{{ $t("home.description_content") }}
				</div>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<h3>{{ $t("home.usage") }}</h3>
				<div>
					{{ $t("home.usage_content") }}
				</div>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
				<h3>{{ $t("home.lot_method") }}</h3>
				<div>

				</div>
			</b-col>
		</b-row>
		<b-row id="buy_lot">
			<b-col>
				<router-link class="btn btn-success" to="/lot">{{ $t("home.buy") }}</router-link>
			</b-col>
		</b-row>
	</b-container>
</div>
