<div>
	<b-container>
		<b-row>
			<b-col>
				<b-form inline>
					<label class="mr-sm-2" for="email">Email</label>
					<b-form-input type="email" style="max-width: 400px" v-model="email" :disabled="loading" class="mb-2 mr-sm-4 mb-sm-0 w-75" id="email">
				</b-form>

				<b-form inline>
					<label class="mr-sm-2" for="bitcoin_addr">Bitcoin Address</label>
					<b-form-input type="email" style="max-width: 400px" v-model="bitcoin_addr" :disabled="loading" class="mb-2 mr-sm-4 mb-sm-0 w-75"
						id="email">
				</b-form>

				<button class="btn btn-success" @click="edit">登録</button>
				<button class="btn btn-danger" @click="$router.push('/logout')">logout</button>
			</b-col>
		</b-row>
	</b-container>
</div>
