<div v-if="display" ref="container">
	<b-container>
		<b-row>
			<b-col>
				<div>
					<button class="btn btn-success" v-on:click="login('Google')">{{ $t("login.google") }}</button><br><br>
				</div>
				<div>
					<button class="btn btn-success" v-on:click="login('Twitter')">{{ $t("login.twitter") }}</button><br><br>
				</div>
				<div>
					<input type="email" v-model="email">
					<button class="btn btn-success" v-on:click="sendEmailLink()">{{ $t("login.email") }}</button><br><br>
				</div>
			</b-col>
		</b-row>
	</b-container>
</div>
